body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }

.header {
    padding: 1px;
    text-align: left;
    padding-left: 50px;
    background: linear-gradient(to right, #333361, #161561);
    color: white;
  }

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}